<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Медновости</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '.tinymce',
        height: 500,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
          ' bold italic backcolor | alignleft aligncenter ' +
          ' alignright alignjustify | bullist numlist outdent indent | ' +
          ' removeformat | help'
      });
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Rubik:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <header>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-3 d-flex align-items-center">
                        <button class="menu-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                            <img src="" alt="">
                        </button>
                        <a href="#" class="logo">
                            <img src="images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-2 col-lg-9 d-flex align-items-center">
                        <nav class="navbar navbar-expand-lg d-none d-lg-flex">
                            <div class="collapse navbar-collapse" id="navbar">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Новости</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Энциклопедия </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Клиники москвы </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Блоги</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Новая статья</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <button type="button">
                            <img src="images/magnify.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </header>
    <%= yield %>
      <footer>
          <div class="container">
                <div class="row">
                    <div class="col-9 col-lg-9">
                        <ul class="footer-menu">
                            <li><a href="#">О портале</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Реклама</a></li>
                        </ul>
                    </div>
                    <div class="col-3 d-block d-lg-none text-right">
                        <img src="images/12.svg" alt="">
                    </div>
                    <div class="col-12 col-lg-3">
                        <ul class="footer-social">
                            <li><a href="#"><img src="images/facebook.svg" alt=""></a></li>
                            <li><a href="#"><img src="images/vk.svg" alt=""></a></li>
                            <li><a href="#"><img src="images/odnoklassniki.svg" alt=""></a></li>
                            <li><a href="#"><img src="images/twitter.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
              <div class="row">
                  <div class="col-lg-9">
                      <p>Медицинский портал medportal.ru. <br>Адрес: Россия, 119270, Москва, Лужнецкая набережная, д. 2/4, стр.1, этаж 2, помещение I, комната 18 </p>
                      <p class="mb-0">© 1998—2019 Все права защищены. Любое использование материалов допускается только с письменного согласия редакции.</p>
                  </div>
                  <div class="col-lg-3 d-none d-lg-block text-right">
                      <img src="images/12.svg" alt="">
                  </div>
              </div>
          </div>
        </footer>
  </body>
</html>
